.slider-container{
    padding: 10rem 20rem;
    background: #fafafb;
}

@media screen and (max-width: 1500px){
    .slider-container{
        padding: 5rem 15rem 7rem 15rem;
    }
}

@media screen and (max-width: 1300px){
    .slider-container{
        padding: 5rem 7rem 7rem 5rem;
    }
}

@media screen and (max-width: 600px){
    .slider-container{
        padding: 5rem 2rem;
    }
}

@media screen and (max-width: 480px){
    .slider-container{
        padding: 5rem 2rem 7rem 2rem;
    }
}

.slick-list {margin: 0 -5px;}
.slick-slide>div {padding: 0 5px;}

@media screen and (max-width: 480px){
    .slick-dots {
        bottom: -50px;
      }
}
