@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.destinations{
  text-align: center;
  background: #3465c0;
  height: 50vh;
  width: 100%;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -80px;
  padding-top: 80px;
  text-align: center;
  color: #fff;
  font-size: 4rem;
}

@media screen and (max-width: 960px){
  .destinations {
      font-size: 50px;
  }
}

@media screen and (max-width: 768px){
  .destinations {
      font-size: 40px;
  }
}

.images-gallery{
  background: rgb(144, 92, 211);
  height: 50vh;
  width: 100%;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  margin-top: -80px;
  padding-top: 80px;
  text-align: center;
  color: #fff;
  font-size: 4rem;
}

@media screen and (max-width: 960px){
  .images-gallery {
      font-size: 50px;
  }
}

@media screen and (max-width: 768px){
  .images-gallery {
      font-size: 40px;
  }
}

.about{
  background: #d85e29;
  height: 50vh;
  width: 100%;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -80px;
  padding-top: 80px;
  text-align: center;
  color: #fff;
  font-size: 4rem;
}

@media screen and (max-width: 960px){
  .about {
      font-size: 50px;
  }
}

@media screen and (max-width: 768px){
  .about {
      font-size: 40px;
  }
}

.contact{
  background: #be4e67; 
  height: 50vh;
  width: 100%;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -80px;
  padding-top: 80px;
  text-align: center;
  color: #fff;
  font-size: 4rem;
}

@media screen and (max-width: 960px){
  .contact{
      font-size: 50px;
  }
}

@media screen and (max-width: 768px){
  .contact{
      font-size: 40px;
  }
}