.slider-container{
    padding: 10rem 16rem;
    background: #fcfcfc;
}

@media screen and (max-width: 1200px){
    .slider-container{
        padding: 5rem 7rem;
    }
}

@media screen and (max-width: 600px){
    .slider-container{
        padding: 5rem 2rem;
    }
}

.slick-list {margin: 0 -5px;}
.slick-slide>div {padding: 0 5px;}

